<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="shortcut icon" href="<%= BASE_URL %>favicon.ico">
    <title>David Cochrum's Portfolio</title>

    <meta name="title" content="David Cochrum's Portfolio" />
    <meta name="author" content="David Cochrum" />
    <meta name="description" content="All you ever needed to know about working with David Cochrum." />
    <meta name="keywords" content="David Cochrum, Portfolio, David Portfolio, David Cochrum Portfolio, web developer, full stack, full stack web developer, engineer, web engineer, PHP, Laravel, Symfony, Javascript, TypeScript, Vue, React, Bootstrap" />
    <link rel="canonical" href="https://davidcochrum.dev" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://davidcochrum.dev" />
    <meta property="og:title" content="David Cochrum's Portfolio" />
    <meta property="og:description" content="All you ever needed to know about working with David Cochrum." />
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/10524697?v=4" />
    <meta property="og:site_name" content="David Cochrum's Portfolio" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content=https://davidcochrum.dev />
    <meta property="twitter:title" content="David Cochrum's Portfolio" />
    <meta property="twitter:description" content="All you ever needed to know about working with David Cochrum." />
    <meta property="twitter:image" content="https://avatars.githubusercontent.com/u/10524697?v=4" />

    <meta name="robots" content="Index" />
    <link rel="manifest" href="<%= BASE_URL %>manifest.json" />
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
